name: Build

on:
  pull_request:
    branches:
      - main
    paths:
      - go.*
      - main.go
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:

concurrency: ci-${{ github.workflow }}-${{ github.ref }}

permissions:
  attestations: write
  contents: write
  id-token: write

env:
  BINARY_NAME: summon-keepass
  CGO_ENABLED: 0

jobs:
  build:
    runs-on:
      - ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Test
      run: |
        go test -coverprofile=coverage.out -json >report.json

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Version
      id: version
      run: |
        echo "version=0.0.0-${GITHUB_SHA::8}" >>$GITHUB_OUTPUT
        if [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
          echo "version=$GITHUB_REF_NAME" >>$GITHUB_OUTPUT
        fi

    - name: Build
      run: |
        ARCH=('amd64')
        OS=('linux' 'windows' 'darwin')

        for GOARCH in "${ARCH[@]}"; do
          for GOOS in "${OS[@]}"; do
            export GOARCH
            export GOOS

            ARTIFACT_NAME="${BINARY_NAME}-${GOOS}-${GOARCH}-${BINARY_VERSION}"
            if [[ "$GOOS" == "windows" ]]; then
              ARTIFACT_NAME="${ARTIFACT_NAME}.exe"
            fi

            # Build
            echo "- building artifact: $ARTIFACT_NAME"
            go build -ldflags "-s -w" -o $ARTIFACT_NAME

            # Release
            if [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
              echo "- uploading artifact: $ARTIFACT_NAME"
              gh release upload $GITHUB_REF_NAME $ARTIFACT_NAME --clobber
            fi
          done
        done
      env:
        BINARY_VERSION: ${{ steps.version.outputs.version }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Attestation
      continue-on-error: true
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: ${{ env.BINARY_NAME }}-*

    - name: Publish artifacts
      uses: actions/upload-artifact@v5
      with:
        path: ${{ env.BINARY_NAME }}-*
        retention-days: 7
